.button-wrap > button {
    height: 7vh;
    width: 7vh;
    font-size: 2.5vh;
    background: #f9fbff;
    color: black;
    border-radius: 3.5vh;
    border: none;
    box-shadow: 5px 5px 10px #daecfd, -5px -5px 10px #ffffff, inset 0px 0px 0px #daecfd, inset 0px 0px 0px #ffffff;
    transition: box-shadow 0.1s cubic-bezier(.22,.01,.2,1.01);
}

.button-wrap > button.selected {
    background: #ca1617;
    color: #f9fbff;
    border-radius: 3.5vh;
    border: 0.5vh solid #f9fbff;
}

.button-wrap > button.pressed1 {
    box-shadow: 0px 0px 0px #daecfd, 0px 0px 0px #ffffff, inset 0px 0px 0px #daecfd, inset 0px 0px 0px #ffffff;
}

.button-wrap > button.pressed2 {
    box-shadow: 0px 0px 0px #daecfd, 0px 0px 0px #ffffff, inset 5px 5px 5px #daecfd, inset -5px -5px 5px #ffffff;
}

.button-wrap > button.disabled {
    box-shadow: inset 5px 5px 5px #daecfd, inset -5px -5px 5px #ffffff;
}

button.reverse  {grid-area: 5/1/6/2;}
button.num0     {grid-area: 5/2/6/3;}
button.dot      {grid-area: 5/3/6/4;}
button.calc     {grid-area: 4/4/6/5; height: 14vh;}

button.num1     {grid-area: 4/1/5/2;}
button.num2     {grid-area: 4/2/5/3;}
button.num3     {grid-area: 4/3/5/4;}

button.num4     {grid-area: 3/1/4/2;}
button.num5     {grid-area: 3/2/4/3;}
button.num6     {grid-area: 3/3/4/4;}
button.plus     {grid-area: 3/4/4/5;}

button.num7     {grid-area: 2/1/3/2;}
button.num8     {grid-area: 2/2/3/3;}
button.num9     {grid-area: 2/3/3/4;}
button.minus    {grid-area: 2/4/3/5;}

button.clear    {grid-area: 1/1/2/2;}
button.divide   {grid-area: 1/2/2/3;}
button.times    {grid-area: 1/3/2/4;}
button.del      {grid-area: 1/4/2/5;}